<html>
	<head>
	  <title>POC@POS@Angular@Ionic</title>
	  <script type="text/javascript" src="angular.min.js"></script>
	</head>
	<body data-ng-app="demoApp">
	  <div ng-app="app">
      <div ng-controller="MainCtrl">

        <div ng-if="orderId == null">
					<button ng-click="initialiseOrder()">Start new Order</button>
			  </div>

				<div ng-if="orderId != null">
					<div>Current Order: {{orderId}}</div>
					<div>Enter Product ID:
						<input type="text" ng-model="productId" />
						<button ng-click="addItem(productId)">Add</button>
						<div>
							<h4>Your Cart</h4>
						  <ul>
								<li>
									<strong>PRODUCT ID --- QUANTITY -- UNIT PRICE</strong>
								</li>
								<li data-ng-repeat="item in orderDetails.itemList">
									{{item.productId}} ({{item.itemDescription}})
									<input type="text" ng-model="item.quantity" />
									<input type="text" ng-model="item.unitPrice" />
									<button ng-click="editOrderItem(item)">update</button>
									<button ng-click="deleteOrderItem(item)">Delete</button>
								</li>
							</ul>
							<div>
								<strong>Sub Total </strong>{{orderDetails.subTotal}}
								<strong>Tax </strong>{{orderDetails.taxTotal}}
								<strong>Total </strong>{{orderDetails.grandTotal}}
							</div>
						</div>
					</div>
			  </div>
      </div>
    </div>

	 <script type="text/javascript" src="controllers.js"></script>
<script type="text/javascript" src="services.js"></script>

	</body>
</html>
